body {
  margin: 0;
  padding: 0;
}

.CarouselPage,.IdiomSearchPage,.TranslatePage {
    background:
    url('./images/004.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    
    background-size:cover;
    
    /* font-family: 'Righteous', cursive; */
    font-family: 'Literata', serif;
    
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
  

}

.StartPage,.SignupForm,.Login{

    background:
    url('./images/001.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    
    
    background-size:cover;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
     

}

.card{
  background-color:rgba(255,255,255,0.8);
  margin:1% 25% 5% 25% ;
  padding:50px;
}
