body {
  margin: 0;
  padding: 0;
}

.IdiomSearchPage,.TranslatePage {
    background:
    url('./images/004.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    
    background-size:cover;
    
    /* font-family: 'Righteous', cursive; */
    font-family: 'Literata', serif;
    
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
  

}

.CarouselPage,.StartPage,.SignupForm,.Login{

    background:
    url('./images/001.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    
    
    background-size:cover;

    /* font-family: 'Literata', serif; */

    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
     

}

.startCard{
  background-color:rgba(53, 52, 52, 0.534);
  color:rgba(250, 211, 83, 0.918);
  margin:1% 25% 5% 25% ;
  padding:50px;
}
